h1 {
    text-align: center;
    color: blueviolet;
    background-color: antiquewhite;
}

#hii {
    font-style: inherit;
    color: green;
    background-color: cadetblue;
}

h3 {
    color: red;
}

.here {
    color: black;
    background-color: aqua;
}

h5, p.there {
    color: blue;
    background-color: aquamarine;
}

h6, p{
    color: brown;
    background-color: chartreuse;
    text-align: justify;
}

div {
        border: 1px solid black;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
        background-color: lightblue;
      }


