h1 {
    text-align: center;
    color: blueviolet;
    background-color: antiquewhite;
}

#hii {
    font-style: inherit;
    color: green;
    background-color: cadetblue;
}

h3 {
    color: red;
}

.here {
    color: black;
    background-color: aqua;
}

h5, p.there {
    color: blue;
    background-color: aquamarine;
}

h6, p{
    color: brown;
    background-color: chartreuse;
    text-align: justify;
}

.margin{
        border: 1px solid black;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
        background-color: lightblue;
}

.padding{
    padding: 70px;
    border: 1px solid #4CAF50;
}

.boxmodel{
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }


